/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
}

p.a::first-letter {
    font-size: 2em;
    
    
}

 .a{
    font-weight: bold;
    font-size: 1.5em;
 } 

header img {
    float: left;
    margin-right: 15px;
}

header h1 {
    color: orange;
    font-style: italic;
    text-shadow: 2px 2px black;
    font-size:2.5em;
}

header h2 {
    font-size: 1.5em;
}

/* ul li {
    margin-bottom: 10px;
    margin-left: 0px;
} */

/* Links Styling */
a {
    text-decoration: none;
    font-weight: bold;
    color: orange;
}

a:hover, a:focus {
    color: green;
}

/* Guarantee Text */
strong {
    font-weight: bold;
}

/* Footer */
footer {
    text-align: center;
    font-size: 0.8em;
    margin-top: 20px;
    color: #555;
}
